header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;

  nav.desktop {
    /* display: none; */
    position: relative;
    bottom: 0;
    width: 100%;

    ul {
      display: flex;
      gap: 2rem;
      text-transform: uppercase;
    }
  }

  .btn-hamburger {
    display: flex;
  }

  nav.mobile {
    display: block;
  }

  @media (min-width: 768px) {
    nav.desktop {
      display: block;
    }

    nav.mobile,
    .btn-hamburger {
      display: none;
    }
  }
}
