@import "~/assets/css/bookmark/utilities.css";

:root {
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --neutral-gray: hsl(229, 8%, 60%);
  --neutral-dark-blue: hsl(229, 31%, 21%);

  --neutral-dark-blue-raw: 229, 31%, 21%;

  --mobile-section-padding-x: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--neutral-dark-blue);
  font-size: 18px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
}

main > section {
  padding: var(--mobile-section-padding-x);
}

dialog {
  --modal-duration: 0.3s;

  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: white;
  background-color: hsla(var(--neutral-dark-blue-raw), 0.9);
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  /* animation */
  opacity: 0;
  transform: scale(1) translateY(-0.5rem);
  transition: transform var(--modal-duration) ease-in-out allow-discrete,
    display var(--modal-duration) ease-in-out allow-discrete,
    opacity var(--modal-duration) ease-in-out;

  &[open] {
    /* animation properties */
    transform: scale(1) translateY(0);
    opacity: 1;
    transition: display 1s ease-in-out allow-discrete,
      opacity var(--modal-duration) ease-in-out,
      transform var(--modal-duration) ease-in-out;
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding: 2rem;

    & > header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2rem;
      padding-top: 0.5rem;

      & svg {
        .logo-text,
        .logo-circle {
          fill: white;
        }

        .logo-bookmark {
          fill: var(--primary-blue);
        }
      }
    }

    & > nav {
      & ul {
        text-align: center;
        text-transform: uppercase;

        & li {
          padding: 1rem 0;

          &:not(:last-child) {
            border-bottom: 1px solid var(--neutral-gray);
          }

          &:nth-child(1) {
            border-top: 1px solid var(--neutral-gray);
          }

          &:last-child {
            a:hover {
              text-decoration: unset;
            }
          }

          a {
            display: block;
            opacity: 0;
            transform: translateY(-0.1rem);

            transition-property: opacity, transform;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
            transition-delay: calc(
              var(--modal-duration) / 2 + 0.05s * var(--i)
            );

            &:hover {
              text-decoration: underline;
              text-underline-offset: 10px;
              text-decoration-color: white;
            }

            &.btn-login {
              padding: 0.5rem 1rem;
              border: 2px solid white;
              border-radius: 5px;

              &:hover {
                background-color: white;
                color: var(--neutral-dark-blue);
              }
            }
          }

          a._show {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }

    & > footer {
      display: block;
      margin-top: auto;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        li {
          transition: transform 0.1s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
}
